@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding :0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

:root{
    --background-color: rgb(255, 235, 169) ;
    --background-light-color : rgb(247, 247, 229);
    --background-color-gray: rgb(59, 59, 59) ;
    --background-color-lightGray:rgb(229, 226, 226);
    --clr-black: #242424;
    --clr-white: #f3f3f3;
}

.header-announcement_text {
    background-color:var(--background-color-gray);
    color: var(--clr-white);
    padding: 30px;
    font-size: 18px;
    text-align: center; 

}